<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MyController" class="my-controller">

<head>
<!-- meta og -->	
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:url" content="https://infocitta.github.io/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="InfoCittà" />
<meta property="og:description" content="Tutte le informazioni della tua città sempre a portata di mano" />
<meta property="og:image" content="https://raw.githubusercontent.com/infocitta/infocitta.github.io/master/logo.png" />
<meta name="keywords" content="infocitta,informazioni" />
<meta name="description" content="Le informazioni della tua città  in un unico posto" />
<meta property="fb:app_id" content="591996370950973" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="shortcut icon" href="../../../logo_notext.png" type="image/png" />
<link rel="icon" href="../../../logo_notext.png" type="image/png" />

<!-- riferimenti remoti -->
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<!-- riferimenti locali -->
<link rel="stylesheet" href="../../../style.css" />
<script src="appedit.js"></script>

<!-- titolo -->
<title>{{ entity.Name }} - InfoCittà</title>  
</head>

<body>

<div class="container">
<!-- menu -->	
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="../../..">InfoCittà</a>
		</div>
	<ul class="nav navbar-nav">
                        <li><a href="../../..">Home</a></li>

			<li class="active"><a href="#">{{ entity.Name }}</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<form style="padding-top: 13px;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="C3JEBSSYR4GBQ">
			<input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online.">
			<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
		</form>                       
	</ul>
	</div>
</nav>
<!-- fine menu -->
</div>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><strong>Dati Entità</strong></div>
  <div class="panel-body">
	<div class="form-group">
	  <label for="ID">ID:</label>
	  <input type="text" class="form-control" id="ID" ng-model="entity.ID" disabled>
	</div>    
	<div class="form-group">
	  <label for="Name">Nome Entità:</label>
	  <input type="text" class="form-control" id="Name" ng-model="entity.Name">
	</div>  
	<div class="form-group">
	  <label for="Alias">Alias:</label>
	  <input type="text" class="form-control" id="Alias" ng-model="entity.Alias">
	</div>  	
	<div class="form-group">
	  <label for="Note">Note:</label>
	  <input type="text" class="form-control" id="Note" ng-model="entity.Note">
	</div>
	<div class="form-group">
	  <label for="Image">Immagine:</label>
	  <input type="text" class="form-control" id="Latitude" ng-model="entity.Image">
	</div>
  </div>
</div>


</div>


<div class="container">

<div class="panel panel-default">
	<div class="panel-heading">Indirizzi <br/><button class="btn btn-success" ng-click="addAddr()" >Aggiungi</button><button type="button" style="float: right;" class="btn btn-default" data-toggle="collapse" data-target="#fIndirizzi" style="margin-left: 5px;">Mostra/Nascondi</button></div>
	<div class="panel-collapse collapse" id="fIndirizzi">
	<div class="panel-body">
		<div class="panel panel-default" ng-repeat="a in entity.Adresses">
		 <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ad{{$index}}">{{a.Title}}</button>
		 <div id="ad{{$index}}" class="collapse">
			<div class="panel-body">
				<div class="form-group">
					<label for="aTitleAd{{$index}}">Titolo indirizzo:</label>
					<input type="text" class="form-control" id="aTitleAd{{$index}}" ng-model="a.Title">
				</div>  
				<div class="form-group">
					<label for="aValueAd{{$index}}">Indirizzo:</label>
					<input type="text" class="form-control" id="aValueAd{{$index}}" ng-model="a.Value">
				</div>	
				<div class="form-group">
					<label for="aLatitude{{$index}}">Latitude:</label>
					<input type="text" class="form-control" id="aLatitude{{$index}}" ng-model="a.Latitude">
				</div>	
				<div class="form-group">
					<label for="aLongitude{{$index}}">Longitude:</label>
					<input type="text" class="form-control" id="aLongitude{{$index}}" ng-model="a.Longitude">
				</div>					
				<div class="form-group">
					<label for="aNoteAd{{$index}}">Note:</label>
					<input type="text" class="form-control" id="aNoteAd{{$index}}" ng-model="a.Note">
				</div>
				<button class="btn btn-danger" ng-click="removeAddr($index)">Rimuovi</button>				
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

</div>


<div class="container">

<div class="panel panel-default">
	<div class="panel-heading">Contatti<br/><button class="btn btn-success" ng-click="addCt()" >Aggiungi</button><button style="float: right;" type="button" class="btn btn-default" data-toggle="collapse" data-target="#fContatti" style="margin-left: 5px;">Mostra/Nascondi</button></div>
	<div class="panel-collapse collapse" id="fContatti">
	<div class="panel-body" >
		<div class="panel panel-default" ng-repeat="a in entity.Contacts">
		 <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ac{{$index}}">{{a.Title}}</button>
		 <div id="ac{{$index}}" class="collapse">
			<div class="panel-body">
				<div class="form-group">
					<label for="aTitleCt{{$index}}">Titolo contatto:</label>
					<input type="text" class="form-control" id="aTitleC{{$index}}t" ng-model="a.Title">
				</div>  
				<div class="form-group">
					<label for="aValueCt{{$index}}">Contatto:</label>
					<input type="text" class="form-control" id="aValueCt{{$index}}" ng-model="a.Value">
				</div>	
				<div class="form-group">
					<label for="aType{{$index}}">Tipo contatto:</label>
					<select id="aType{{$index}}" ng-model="a.Type" class="form-control">
					<option value="0" ng-selected="a.Type==0">Telefono</option>
					<option value="1" ng-selected="a.Type==1">Email</option>
					<option value="2" ng-selected="a.Type==2">Link</option>
					</select>				
				</div>									
				<div class="form-group">
					<label for="aNoteCt{{$index}}">Note:</label>
					<input type="text" class="form-control" id="aNoteCt{{$index}}" ng-model="a.Note">
				</div>
				<button class="btn btn-danger" ng-click="removeCt($index)">Rimuovi</button>				
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</div>


<div class="container">

<div class="panel panel-default">
	<div class="panel-heading">Note<br/><button   class="btn btn-success" ng-click="addNt()" >Aggiungi</button><button type="button" style="float: right;" class="btn btn-default" data-toggle="collapse" data-target="#fNote" style="margin-left: 5px;">Mostra/Nascondi</button></div>
	<div class="panel-collapse collapse" id="fNote">
	<div class="panel-body">
		<div class="panel panel-default" ng-repeat="a in entity.Notes">
		 <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#nt{{$index}}">{{a.Title}}</button>
		 <div id="nt{{$index}}" class="collapse">
			<div class="panel-body">
				<div class="form-group">
					<label for="aTitleCt{{$index}}">Titolo:</label>
					<input type="text" class="form-control" id="aTitleC{{$index}}t" ng-model="a.Title">
				</div>  				
				<div class="form-group">
					<label for="aNoteCt{{$index}}">Note:</label>
					<input type="text" class="form-control" id="aNoteCt{{$index}}" ng-model="a.Note">
				</div>
				<button class="btn btn-danger" ng-click="removeNt($index)">Rimuovi</button>				
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

</div>


<div class="container">
	<div class="panel panel-default">
	<div class="panel-heading">Calendari<br/><button  class="btn btn-success" ng-click="addCl()" >Aggiungi</button><button type="button" style="float: right;"  class="btn btn-default" data-toggle="collapse" data-target="#fCl" style="margin-left: 5px;">Mostra/Nascondi</button></div>
	<div class="panel-collapse collapse" id="fCl">

	<div class="panel-body">
			<div class="panel panel-default" ng-repeat="c in entity.Calendar">
			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#cl{{$index}}">{{c.Title}}</button>
			<div id="cl{{$index}}" class="collapse">
			<div class="panel-heading">
				<div class="form-group">
					<label for="aTitleCl{{$index}}">Titolo calendario:</label>
					<input type="text" class="form-control" id="aTitleC{{$index}}" ng-model="c.Title">
				</div>  				
				<div class="form-group">
					<label for="aNoteCl{{$index}}">Note:</label>
					<input type="text" class="form-control" id="aNoteCl{{$index}}" ng-model="c.Note">
				</div>
				<button class="btn btn-danger" ng-click="removeCl($index)">Rimuovi calendario</button>				
				<button  class="btn btn-success" ng-click="addWd(c)" >Aggiungi giorno della settimana</button>
			</div>
			<div class="panel-body">
				<div class="panel panel-default" ng-repeat="w in c.WeekDays| orderBy:'WeekDay'">
				<div class="panel-heading">
					<div class="form-group">
						<label for="wDay{{$index}}">Giorno settimana:</label>
						<select id="wDay{{$index}}" ng-model="w.WeekDay" class="form-control">
						<option value="1" ng-selected="w.WeekDay==1">Lunedì</option>
						<option value="2" ng-selected="w.WeekDay==2">Martedì</option>
						<option value="3" ng-selected="w.WeekDay==3">Mercoledì</option>
						<option value="4" ng-selected="w.WeekDay==4">Giovedì</option>
						<option value="5" ng-selected="w.WeekDay==5">Venerdì</option>
						<option value="6" ng-selected="w.WeekDay==6">Sabato</option>
						<option value="7" ng-selected="w.WeekDay==7">Domenica</option>
						</select>				
					</div>
				<button class="btn btn-danger" ng-click="removeWd(c,$index)">Rimuovi</button>
				<button  class="btn btn-success" ng-click="addWdH(w)" >Aggiungi orario</button>				
				</div>
				<div class="panel-body">
					<div class="panel panel-default" ng-repeat="sc in w.Schedules| orderBy:'StartTime'">
					<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="Dalle{{$index}}">Dalle:</label>
								<input type="text" class="form-control" id="Dalle{{$index}}" ng-model="sc.StartTime">
							</div> 
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="Alle{{$index}}">Alle:</label>
								<input type="text" class="form-control" id="Alle{{$index}}" ng-model="sc.EndTime">
							</div> 
						</div>	
					</div>
							<div class="form-group">
								<label for="wNote{{$index}}">Note:</label>
								<input type="text" class="form-control" id="wNote{{$index}}" ng-model="sc.Note">
							</div> 						
					<button class="btn btn-danger" ng-click="removeWdH(w,$index)">Rimuovi</button>	
					</div>
					</div>					
				</div>			
				</div>			
			</div>
			</div>	  
			</div>	
	  </div>
	</div>
	</div>
</div>


</body>

</html>
